body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors:  background colors for the squares.*/
  --color-0: #37474f;
  --color-1: #ef5350;
  --color-2: #40c4ff;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 7;
  --rows: 11;
  --tile-size: 70px;
  --tile-size-next: 40px;
  --border-width: 1px;
}


/* App */
.App {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}
/* App-header */
.App-header {
 width: 100%;
 height: 100px;
 display: none !important;
}
.game-container{
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #B0BEC5;
  box-shadow: 0 2px 5px rgb(0 0 0 / 70%);
}
/* Next Block */

.left-container, .right-container {
  height: 100%;
  width: 160px;
  justify-content: space-between;
  background-color: #37474F;
  color: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 70%);
}
.next-block-container
.color-0{
  background-color: unset;
  border: unset;
}
.next-block-container{
  align-self: center;
  justify-content: center;
  margin-bottom: 50px;
}
.top-ol{
  
  padding: 0px;
  font-size: 15px;
  margin: 0px;
}
