


$brick-peg-size: 12px;
$brick-wall-thickness: 5px;
$brick-square:  $brick-peg-size + $brick-wall-thickness * 2;


$cols:7;
$rows:11;
$curent-size-x : 3;
$curent-size-y : 3;

$curent-square-width:$brick-peg-size * $curent-size-y + (($brick-wall-thickness*2) * $curent-size-x);
$curent-square-height:$brick-peg-size * $curent-size-x + (($brick-wall-thickness*2) * $curent-size-y);

$curent-square-width-next:$curent-square-width/2;

$brick-square-next:$brick-square/2;



body * {
    box-sizing: border-box;
}
.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-pack: end;
    // height: 100vh;
    filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6)) drop-shadow(0 0 6px rgba(0,0,0,0.5));
}
.no-shadow{
    box-shadow: unset!important;
}
.is-dragging {
    z-index: 999;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2),  5px 5px 10px rgba(0,0,0,0.5) !important;
}
.b-none{
    background-color: unset !important;
    padding: unset!important;
    min-width: unset!important;
    min-height: unset!important;
    box-shadow: unset!important;
    background-image: unset!important;
    background-size: unset!important;
    background-position: unset!important;
    background-repeat: unset!important;
  }
.brick {
    color: #f63;
    background-color: currentColor;
   // padding: $brick-wall-thickness;
    min-width: $brick-square;
    min-height: $brick-square;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
    background-image: radial-gradient(currentColor $brick-peg-size/2, transparent $brick-peg-size/2 + 1px),
                        radial-gradient(rgba(#fff, .6) $brick-peg-size/2, transparent $brick-peg-size/2 + 1px),
                      radial-gradient(rgba(#000, .2) $brick-peg-size/2, transparent $brick-peg-size/2 + $brick-wall-thickness/2),
                    radial-gradient(rgba(#000, .2) $brick-peg-size/2, transparent $brick-peg-size/2 + $brick-wall-thickness/2);
    background-size: $brick-square $brick-square;
    background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness/2 $brick-wall-thickness/2;
    background-repeat: repeat;
}
.next-block-container
.brick {
    // color: #f63;
    background-color: currentColor;
    //padding: $brick-wall-thickness/2;
    min-width: $brick-square/2;
    min-height: $brick-square/2;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
    background-image: radial-gradient(currentColor $brick-peg-size/2/2, transparent $brick-peg-size/2/2 + 1px),
                        radial-gradient(rgba(#fff, .6) $brick-peg-size/2/2, transparent $brick-peg-size/2/2 + 1px),
                      radial-gradient(rgba(#000, .2) $brick-peg-size/2/2, transparent $brick-peg-size/2/2 + $brick-wall-thickness/2/2),
                    radial-gradient(rgba(#000, .2) $brick-peg-size/2/2, transparent $brick-peg-size/2/2 + $brick-wall-thickness/2/2);
    background-size: $brick-square/2 $brick-square/2;
    background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness/2/2 $brick-wall-thickness/2/2;
    background-repeat: repeat;
}


$brick-colors: (
    'red':  #e53935,
'pink':  #d81b60,
'purple':  #8e24aa,
'deep-purple':  #5e35b1,
'indigo':  #3949ab,
'blue':  #1e88e5,
'light-blue':  #039be5,
'cyan':  #00acc1,
'teal':  #00897b,
'green':  #43a047,
'light-green':  #7cb342,
'lime':  #c0ca33,
'yellow':  #fdd835,
'amber':  #ffb300,
'orange':  #fb8c00,
'deep-orange':  #f4511e,
'brown':  #6d4c41,
'grey':  #757575,
'black':  #0c0c0c,
'blue-grey':  #546e7a
);

@each $name, $color in $brick-colors {
    .b-#{$name} {
        color: $color;
    }
}

@for $x from 1 through 12 {
    @for $y from 1 through 12 {
        .b-#{$x}x#{$y} {
            width: $brick-peg-size * $x + (($brick-wall-thickness*2) * $x);
            height: $brick-peg-size * $y + (($brick-wall-thickness*2) * $y);
        }
        
        .next-block-container .b-#{$x}x#{$y} {
            width: ($brick-peg-size * $x + (($brick-wall-thickness*2) * $x) )/2;
            height: ($brick-peg-size * $y + (($brick-wall-thickness*2) * $y))/2;
        }
       
    }
}
@media (max-width: 575.98px) {

  $SCALE: 0.85;

$brick-peg-size-min: $brick-peg-size*$SCALE;
$brick-wall-thickness-min: $brick-wall-thickness*$SCALE;
$brick-square-min:  $brick-peg-size-min + $brick-wall-thickness-min * 2;


$curent-square-width-min:$curent-square-width*$SCALE;
$brick-square-next-min:$brick-square-min/2;
$curent-square-width-next-min:$curent-square-width-min/2;

    .brick {
        // color: #f63;
        background-color: currentColor;
       // padding: $brick-wall-thickness-min;
        min-width: $brick-square-min;
        min-height: $brick-square-min;
        box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
        // background-image: radial-gradient(currentColor $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + 1px),
        //                     radial-gradient(rgba(#fff, .6) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + 1px),
        //                   radial-gradient(rgba(#000, .2) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + $brick-wall-thickness-min/2),
        //                 radial-gradient(rgba(#000, .2) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + $brick-wall-thickness-min/2);
       
       
                        background-size: $brick-square-min $brick-square-min;
        background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness-min/2 $brick-wall-thickness-min/2;
        background-repeat: repeat;
    }
    .next-block-container
.brick {
    // color: #f63;
    background-color: currentColor;
    //padding: $brick-wall-thickness-min/2;
    min-width: $brick-square-min/2;
    min-height: $brick-square-min/2;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
    
    // background-image: radial-gradient(currentColor $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + 1px),
    //                     radial-gradient(rgba(#fff, .6) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + 1px),
    //                   radial-gradient(rgba(#000, .2) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + $brick-wall-thickness-min/2/2),
    //                 radial-gradient(rgba(#000, .2) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + $brick-wall-thickness-min/2/2);
    
                    background-size: $brick-square-min/2 $brick-square-min/2;
    background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness-min/2/2 $brick-wall-thickness-min/2/2;
    background-repeat: repeat;
}
    .grid-board {
        display: grid;
        grid-template-columns: repeat($cols,$curent-square-width-min) !important;
        grid-gap: 0;
        align-self: center;
      }
      .next-block-4 {
        display: grid;
        grid-template-columns: repeat(4, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-3 {
        display: grid;
        grid-template-columns: repeat(3, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-2 {
        display: grid;
        grid-template-columns: repeat(2, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-1 {
        display: grid;
        grid-template-columns: repeat(1, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
    @for $x from 1 through 12 {
        @for $y from 1 through 12 {
            .b-#{$x}x#{$y} {
                width: $brick-peg-size-min * $x + (($brick-wall-thickness-min*2) * $x);
                height: $brick-peg-size-min * $y + (($brick-wall-thickness-min*2) * $y);
            }
            
            .next-block-container .b-#{$x}x#{$y} {
                width: ($brick-peg-size-min * $x + (($brick-wall-thickness-min*2) * $x) )/2;
                height: ($brick-peg-size-min * $y + (($brick-wall-thickness-min*2) * $y))/2;
            }
        
        }
    }
}
@media (max-width: 390.98px) {

  $SCALE: 0.75;

$brick-peg-size-min: $brick-peg-size*$SCALE;
$brick-wall-thickness-min: $brick-wall-thickness*$SCALE;
$brick-square-min:  $brick-peg-size-min + $brick-wall-thickness-min * 2;


$curent-square-width-min:$curent-square-width*$SCALE;
$brick-square-next-min:$brick-square-min/2;
$curent-square-width-next-min:$curent-square-width-min/2;

    .brick {
        // color: #f63;
        background-color: currentColor;
        //padding: $brick-wall-thickness-min;
        min-width: $brick-square-min;
        min-height: $brick-square-min;
        box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
        background-image: radial-gradient(currentColor $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + 1px),
                            radial-gradient(rgba(#fff, .6) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + 1px),
                          radial-gradient(rgba(#000, .2) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + $brick-wall-thickness-min/2),
                        radial-gradient(rgba(#000, .2) $brick-peg-size-min/2, transparent $brick-peg-size-min/2 + $brick-wall-thickness-min/2);
        background-size: $brick-square-min $brick-square-min;
        background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness-min/2 $brick-wall-thickness-min/2;
        background-repeat: repeat;
    }
    .next-block-container
.brick {
    // color: #f63;
    background-color: currentColor;
   // padding: $brick-wall-thickness-min/2;
    min-width: $brick-square-min/2;
    min-height: $brick-square-min/2;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
    background-image: radial-gradient(currentColor $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + 1px),
                        radial-gradient(rgba(#fff, .6) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + 1px),
                      radial-gradient(rgba(#000, .2) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + $brick-wall-thickness-min/2/2),
                    radial-gradient(rgba(#000, .2) $brick-peg-size-min/2/2, transparent $brick-peg-size-min/2/2 + $brick-wall-thickness-min/2/2);
    background-size: $brick-square-min/2 $brick-square-min/2;
    background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness-min/2/2 $brick-wall-thickness-min/2/2;
    background-repeat: repeat;
}
    .grid-board {
        display: grid;
        grid-template-columns: repeat($cols,$curent-square-width-min) !important;
        grid-gap: 0;
        align-self: center;
      }
      .next-block-4 {
        display: grid;
        grid-template-columns: repeat(4, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-3 {
        display: grid;
        grid-template-columns: repeat(3, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-2 {
        display: grid;
        grid-template-columns: repeat(2, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
      .next-block-1 {
        display: grid;
        grid-template-columns: repeat(1, $curent-square-width-next-min) !important;
        align-self: flex-start;
      }
    @for $x from 1 through 12 {
        @for $y from 1 through 12 {
            .b-#{$x}x#{$y} {
                width: $brick-peg-size-min * $x + (($brick-wall-thickness-min*2) * $x);
                height: $brick-peg-size-min * $y + (($brick-wall-thickness-min*2) * $y);
            }
            
            .next-block-container .b-#{$x}x#{$y} {
                width: ($brick-peg-size-min * $x + (($brick-wall-thickness-min*2) * $x) )/2;
                height: ($brick-peg-size-min * $y + (($brick-wall-thickness-min*2) * $y))/2;
            }
        
        }
    }
}

  
.grid-board {
    display: grid;
    grid-template-columns: repeat($cols,$curent-square-width);
    grid-gap: 0;
    align-self: center;
  }
  .next-block-4 {
    display: grid;
    grid-template-columns: repeat(4, $curent-square-width-next);
    align-self: flex-start;
  }
  .next-block-3 {
    display: grid;
    grid-template-columns: repeat(3, $curent-square-width-next);
    align-self: flex-start;
  }
  .next-block-2 {
    display: grid;
    grid-template-columns: repeat(2, $curent-square-width-next);
    align-self: flex-start;
  }
  .next-block-1 {
    display: grid;
    grid-template-columns: repeat(1, $curent-square-width-next);
    align-self: flex-start;
  }

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// X-Small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    // .left-container,.right-container{display: none !important;}
    .grid-board{
        // transform: scale(0.8);
    }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }


@media (max-width: 575.98px) {
    .left-container,.right-container{display: none !important;}
    .grid-board{
        // transform: scale(0.80);
    }
    .App-header {
        width: 100%;
        height: 100px;
        display: flex !important;
    }
    .next-block-1,.next-block-2,.next-block-3,.next-block-4{
        // transform: scale(.7);
        margin-top: .5rem;
    }
    .next-block-3{
        margin-top: 20px;
    } 
    .next-block-1{
        transform: scale(.75);
        margin-top: -7px;
    }
    .next-block-header{
        align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 200px;
    }
    .next-block-header .next-block-container{
        margin-right: 1rem;;
    }
    
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  65% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  65% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes swingy {
  15% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  40% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swingy {
  15% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  40% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes swingxy {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
       -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  40% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
        -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
     -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
     -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
       -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swingxy {
  15% {
    -webkit-transform: translateX(4px) translateX(4px);
    transform: translateX(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
       -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  40% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
        -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
     -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
     -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
       -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes swingyx {
  15% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  30% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
       -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
        -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
     -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
     -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
       -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swingyx {
  15% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  30% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
       -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
        -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
     -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  65% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
     -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
       -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.swing {
  -webkit-animation: swing 0.3s ease;
  animation: swing 0.3s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
.swingy{
  -webkit-animation: swingy 0.3s ease;
  animation: swingy 0.3s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
.swingyx{
  -webkit-animation: swingyx 0.3s ease;
  animation: swingyx 0.3s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


.swingxy{
  -webkit-animation: swingxy 0.3s ease;
  animation: swingxy 0.3s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
.full{
  -webkit-animation: swingxy 0.3s ease-in-out;
  animation: swingxy 0.3s ease-in-out;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

.brick-closed{
  background-image: none;
}